<launch>
  <arg name="launch_prefix" default=""/>
  <node name="gscam" pkg="gscam" type="gscam" output="screen" launch-prefix="$(arg launch_prefix)">
    <!--<param name="gscam_config" value="nvarguscamerasrc sensor-id=0 ! video/x-raw(memory:NVMM),width=1920, height=1080,format=NV12, framerate=60/1 ! nvvidconv ! video/x-raw, format=BGRx ! videoconvert ! video/x-raw, format=BGR"/>-->
    <param name="gscam_config" value="nvarguscamerasrc sensor-id=0 ! video/x-raw(memory:NVMM),width=1920, height=1080,format=NV12, framerate=60/1 ! nvvidconv ! video/x-raw, format=BGRx ! videoconvert ! video/x-raw, format=BGR"/>
  </node>                 

  <!--<node pkg="rqt_image_view" type="rqt_image_view" name="image_view_debug" args="/camera/image_raw"/>-->
</launch>
<!-- vim: ft=xml: -->

